<IfModule mod_rewrite.c>
RewriteEngine On
ErrorDocument 404 http://localhost/maktab-haf/404
Options -Indexes
DirectoryIndex first.html index.htm index.html index.php bin.html redirect.html bin.php index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+) - [PT,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]
</IfModule>